<div fxFlex fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="row wrap">
    <div
      fxFlex="60"
      fxFlex.md="60"
      fxFlex.sm="70"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 16px;"
    >
      <nl-material-card
        [type]="introductionType"
        [title]="'home.introduction.title' | translate"
        [subtitle]="'home.introduction.subtitle' | translate"
        [content]="'home.introduction.content' | translate"
      >
      </nl-material-card>
    </div>
    <div
      fxFlex="100"
      fxLayout="column"
      style="padding: 16px;"
    >
      <nl-material-card
        [type]="reminderType"
        [title]="'home.reminder.title' | translate"
        [content]="'home.reminder.content' | translate"
        [buttonText]="'home.reminder.buttonText' | translate"
        icon="exclamation-triangle"
      >
      </nl-material-card>
    </div>
  </div>
</div>
