.mat-select-panel {
  box-shadow: none !important;
  border-radius: 3px;
  border: 0.5px solid #d2d2d2;
  margin-top: -12px;
  margin-left: -4px;
}

.mat-option-text {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
