@import 'colors';

.mat-select-panel {
  box-shadow: none !important;
  border-radius: 3px;
  border: 0.5px solid $nl-medium-gray;
  margin-top: -12px;
  margin-left: -4px;
}

.mat-option-text {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

