@import 'colors';
@import 'variables';

.mat-select-panel {
  box-shadow: none !important;
  border-radius: 3px;
  border: 0.5px solid $nl-medium-gray;
  margin-top: -12px;
  margin-left: -4px;
}

.mat-option-text {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.mat-flat-button {
  font-size: $font-smaller;
  line-height: $font-large !important;
  padding: 10px 16px !important;
}

@include layout-bp(xs) {
  .ng-animating {
    left: 0 !important;
  }
}

