<div class="page-container">
  <header>
    <nl-material-toolbar>
      <nl-material-navigation-menu></nl-material-navigation-menu>
      <nl-material-header-logo [logoImagePath]="imgSrc"></nl-material-header-logo>
      <nl-material-header-menu [locales]="locales"></nl-material-header-menu>
    </nl-material-toolbar>
  </header>
  <nl-material-sidenav [items]="navigationMenuItems">
    <nl-material-breadcrumbs></nl-material-breadcrumbs>
    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </nl-material-sidenav>
</div>

