@import "_variables.scss";

nl-material-sidenav, nl-material-navigation-menu, .page-container {
  height: 100%;
}

nl-material-navigation-menu, .page-container {
  display: flex;
}

nl-material-navigation-menu {
  align-items: center;
}

.page-container {
  flex-direction: column;

  main {
    max-width: $max-width;
    margin: 0 auto;
    margin-top: 30px;
  }
}
